@media only screen and (max-width: 1496px){
	.inner-nav li a{
		padding: 30px 10px;
	}

	.inner-about{
		width: 90%;
	}

	.inner-about-right img{
		width: 500px;
	}

	.inner-ingredients-block{
		margin-left: 35%;
	}
	
	
	.inner-reviews{
		width: 80%;
	}
	.inner-reviews p{
		width: 80%;
	}

	.reservation{
		padding: 10px;
	}

	

	.inner-reservation-left img{
		width: 43%;
		
	}
}


@media only screen and (max-width: 1197px){
	.inner-nav li a{
		padding: 30px 10px;
	}

	.inner-about{
		width: 90%;
	}

	.inner-about-right img{
		width: 500px;
	}

	.inner-ingredients-block{
		margin-left: 35%;
	}
	.inner-menu > div{
		flex-basis: 100%;
	}
	.nav-logo{
		margin-right: 0;
	}
	.inner-reviews{
		width: 80%;
	}
	.inner-reviews p{
		width: 80%;
	}

	.reservation{
		padding: 10px;
	}

	.inner-reservation{
		flex-direction: column;
    	align-items: center;
	}
	.inner-reservation-left{
		width: 100%;
		text-align: center;
	}
}


@media only screen and (max-width: 1024px){

	.inner-nav{
		width: 90%;
	}
	.inner-footer{
		width: 100%;
	}
	.inner-ingredients-block{
		margin-left: 0;
	}

	.inner-about-right img{
		width: 352px;

	}

	.inner-about-right{
		text-align: center;
	}

	.inner-header h1{
		font-size: 40px;
	}

	.nav-logo{
		display: none;
	}

	.spec{
		background-position: right;
		width: 380px;
	}
	.ingredients{
		min-height: 600px;
	}
	.inner-ingredients-block{
		margin: 0 auto;
		width: 76%;
	}

	.inner-ingredients-block{
		width: 76%;
	}

	.inner-reviews{
		width: 76%;
	}
	.inner-ingredients-block-bottom{
		width: 80%;
	}
}


@media only screen and (max-width: 768px){
	.about{
		min-height: 970px;
	}
	.inner-about{
		flex-direction: unset;
		display: block;
	}

	.inner-reservation-left img{
		width: 27%;
	}

	.nav{
		display: none;
		min-height: 0;
	}

	.inner-header h1{
		font-size: 40px;
	}

	.inner-ingredients-block p{
		width: 100%;
	}

	
	.inner-ingredients{
		padding: 0;
	}

	.inner-footer{
		display: block;
	}

	header{
		padding-top:10vh;
		height: 90vh;
	}
	.inner-header img{
		margin: 0;
	}
	.inner-header a.black{
		margin-bottom: 5px;
	}

	.inner-about-right{
		margin: 0;
	}
	.inner-menu{
		width: 100%;
	}

	.inner-reviews p{
		font-size: 16px;
	}

	form{
	justify-content: center;
	flex-wrap: unset; 
     display: block; 
    width: 60%;
    margin: 0 auto;
	}

	form > div{
		display: block;
		flex-basis: unset;
	}

	.nav-share{
		display: none;
	}

	.inner-nav li{
		float: none;
	}
	.inner-nav{
		width: 100%;
		position: absolute;
    	top: 40px;
	}


	.phoneMenu{
		display: block;
		text-align: center;
		color: #fff;
		font-size: 22px;
		width: 100%;
		background-color: rgba(0,0,0,0.7);
		position: fixed;
	}
}

@media only screen and (max-width: 480px){


	.inner-header img{
		display: none;

	}

	.inner-header h1{
		font-size: 25px;
		padding: 5px;
	}
}

@media only screen and (max-width: 425px){
	.inner-header h1{
		font-size: 22px;
	}

	.inner-about-right img{
		width: 287px;
	}

	.inner-ingredients-block{
		width: 100%;
		padding: 0;
	}

	.spec{
		width: 300px;
	}

	.inner-reviews{
		width: 68%;
	}

	
	.inner-menu > div{
		width: 120px;
	}

	.inner-menu div span{
		font-size: 12px;
	}

	.inner-reservation-right p{
		width: 100%;
	}

	.inner-ingredients-block p{
		margin: 0;
		font-size: 16px;
	}
	.ingredients{
		min-height: 500px;
	}
}