/*.inner-reviews{
	display: none;
	}	*/															/*effects*/


/*.inner-ingredients-block{
	display: none;
}

.inner-about-right img{
	display: none;
}

.inner-reservation-left img{
	display: none;
}*/







																/*Specification*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Niramit', sans-serif;
	background: #cccc;
}
a{
	text-decoration: none;
}

.phoneMenu:hover{
	cursor: pointer;
}

.phoneMenu{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	}

.open{
	display: block;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

.navOp{
	display: block!important;
}

																/*Navigation*/
.nav{
	min-height: 120px;
	position: absolute;
	width: 100%;
	transition: 0.5s all;
	z-index : 100;
}

.inner-nav{
	width: 80%;
	margin: 0 auto;
	min-height: 120px;
}

.inner-nav li{
	float: left;
	list-style-type: none;
}

.inner-nav li a{
	text-decoration: none;
	font-size: 20px;
	padding: 35px 30px;
	display: block;
	color: #fff;
	border-top: 4px solid transparent;
	transition: 0.3s all;
}

.inner-nav li a:hover{
	border-top: 4px solid #ccc;
}

.nav-logo{
	width: 156px;
	height: 92px;
	display: block;
	float: left;
	margin-right: 170px;

}

.nav-logo img{
	margin: 10px 0;
}

.nav-share{
	float: right;
}

.nav-share a{
	padding: 5px;
	display: inline-block;
	margin: 35px 0;

}
.nav-share a:hover img{
	opacity: 0.7;
}


																		/*header*/

header{
	width: 100%;
	height: 80vh;
	background-image: url(../images/content1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 20vh;
}


.inner-header{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.inner-header h1{
	font-size: 60px;
	color: #fff;
}

.inner-header img{
	margin-bottom: 50px;
}

.inner-header a{
	font-size: 18px;
	margin: 0 10px;
	width: 228px;
	height: 58px;
	display: inline-block;
	color: #fff;
	background-image: url(../images/sprite.png);
	line-height: 58px;
}

.inner-header a.black{
	background-position: bottom;
}

.inner-header a.black:hover{
	background-position: top;
}

.inner-header a.white:hover{
	background-position: bottom;
}


																		/*Section1 about*/

.about{
	min-height: 600px; 
	padding-top:100px;
	background: url("../images/sec1bg.png");
	background-size: cover;
	background-position: center;
}

.inner-about{
	width: 65%;
	min-height: 677px;
	margin: 0 auto;
	display: flex;
}

.inner-about-left{
	text-align: center;
}

.inner-about-left h2{
	color: #ffc74a;
	font-size: 40px;
	margin: 10px 0;
}
.inner-about-left p{
	margin-bottom: 50px;
}

.inner-about-right{
	margin: 0 10%;

}


																		/*Section2 ingredients*/

.ingredients{
	min-height: 800px;
	background: url("../images/sec2bg.jpg");
	background-position: center;
	background-size: cover;
}

.inner-ingredients{
	padding: 100px;
}
.inner-ingredients-block{
	width: 500px;;
	height: 500px;
	background: url("../images/sec2textbg.png");
	margin-left: 55%;
	padding: 50px;
	text-align: center;
}

.inner-ingredients-block h2{
	font-size: 30px;
	color: #fff;
	margin-bottom: 30px;
}

.inner-ingredients-block p{
	color: #fff;
	font-size: 18px;
	width: 80%;
	margin: 0 auto 70px auto;

}

													/*Section3 menu*/

.menu{
	min-height: 900px;
	background: url("../images/sec3bg.png");
	background-position: center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 50px;
}

.inner-menu{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.inner-menu > div{
	flex-basis: 40%;
	text-align: center;
	margin: 0 auto;
}

.inner-menu > div h2{
	color: #ffc74a;
	font-size: 40px;
}

.inner-menu  div span{
	border-bottom: 1px solid #ffc74a;
}

.spec{
	background-image: url("../images/menuborder.png");
	width: 455px;
	height: 102px;
	margin: 10px auto;
}

.inner-menu i{
	color: #ffc74a;
	font-size: 20px;
}

.menuGroup3{
	padding-top: 94px;
}
												/*Section4 reviews*/

.reviews{
	min-height: 500px;
	padding: 100px 0 100px 0;
	background: url("../images/sec4bg.jpg");
	background-position: center;
	background-size: cover;
}

.inner-reviews{
	margin: 0 auto;
	padding: 50px;
	width: 50%;
	background: url("../images/sec4textbg.png");
	background-position: center;
	background-size: cover;
	text-align: center;
}

.inner-reviews h2{
	color: #fff;
	font-size: 40px;
	margin: 30px 0;
}

.inner-reviews p{
	color: #fff;
	width: 50%;
	font-size: 23px;
	padding: 30px;
	margin: 0 auto;

}

														/*Section5 reservation	*/

.reservation{
	min-height: 500px;
	padding: 100px;
}

.inner-reservation{
	display: flex;
}

.inner-reservation-left{
	width: 44%;

}

.inner-reservation-left img{
	margin: 3%;
}

.inner-reservation-right{
	text-align: center;
}

.inner-reservation-right h2{
	font-size: 40px;
	color: #ffc74a;
}

.inner-reservation-right p{
	width:50%;
	margin: 0 auto;
}

form{
	flex-wrap: wrap;
	display: flex;
	width: 60%;
	margin: 0 auto;
}
form > div{
	flex-basis: 50%;
}

form input{
	width: 180px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	padding: 5px;
}

.formBookNowButton{
	margin: 40px auto;
}

form input[type="submit"]{
	width:160px;
	height: 50px;
	color: #fff;
	background-color: #ffc74a;
	border-radius: 5px;
	border: none;
	outline: none;
	transition: 0.3s all;
}
.form input[type="submit"]:focus{
	outline:none;

}

#sub:hover{
	background-color: #9b792d;
	cursor: pointer;
}
													/*Footer */

.footer{
	min-height: 200px;
	background: linear-gradient(to bottom , #484848, #000000);
	padding: 50px;
}

.inner-footer{
	width: 70%;
	display: flex;
	margin: 0 auto;
}

.inner-footer p{
	color: #ffffff;
}

.inner-footer h2{
	color: #ffffff;
}

.inner-footer > div{
	text-align: center;
	flex-basis: 100%;
}

.inner-footer a img{
	padding: 10px;
	border:1px solid transparent;
	transition: 0.3s all;

}

.inner-footer a:hover img{
	border-bottom:1px solid #ffffff;
	border-top:1px solid #ffffff;
	border-radius: 15px;

}